@charset:"UTF-8";	

a{
	text-decoration: none;
}
#headline{
	width: 100%;
	min-width: 1263px;
	height:300px;
	background: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.0)), url(../img/816024.jpg) no-repeat center;
}
#headline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#headline hgroup{
	padding: 100px 0 0 50px;
}
#headline h2{
	color: #eee;
	font-size: :36px;
	letter-spacing: 1px;
}
#headline h3{
	color: #eee;
	font-size: :20px;
	letter-spacing: 1px;
}
#container{
	width: 1263px;
	margin: 30px auto;
}
#container .sidebar{
	width: 340px;
	float: right;
}
#container .list{
	width: 900px;
	float: left;
}
#container .infor{
	height: 45px;
	line-height: 45px;
	background: #ccc;
	margin: 0 0 20px 0;
}

#container .infor .left{
	display: inline-block;
	float: left;

}
#container .infor .left li{
	display: inline-block;
	background: #ccc;
	width: 150px;
	height: 43px;
	line-height: 43px;
	text-align: center;
}
#container .infor .left li a{
	color: #666;
}

#container .infor .left li:first-child{
	background: #fff;
	border-top: 2px solid #458b00;
	position: relative;
	left: 1px;
}

#container .infor .right{
	display: inline-block;
	float: right;
	padding: 0 20px 0 0;

}
#container .infor .right li{
	display: inline-block;
	width: 60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .infor .right a{
	color: #666;
	padding: 3px 8px;
	

}
#container .infor .right a.select, #container .infor .right a:hover{
	color: #fff;
	background: green;

}
#container .sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}

#container .sidebox h2{
	text-align: left;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background: #fafafa;
	color: 666;
}
#container .tag{
	padding: 10px 0;
}
#container .tag li{
	text-align: left;
	display: inline-block;
	width: 100px;
	height: 35px;
	background: #eee;
	line-height: 35px;
	text-indent: 8px;
	margin: 2px 0;
	color: #999;
}
#container .tag a{
	color: #999;
	display: block;
}
#container .tag a:hover{
	background: #458b00;
	color: #fff;
}
#container figure{
	display: inline-block;
	padding: 4px;
	color: #666;
}
#container .figure{
    padding: 10px 0;
}

#container .box{
	padding: 10px 0;
}
#container .box a{
	display: inline-block;
	width: 150px;
	height: 40px;
	background: #eee;
	line-height: 40px;
	margin: 2px 0;
	color: #999;
	text-align: left;
	text-indent: 38px;
}
#container .box a.trea1{
	background:  #eee url(../img/1121043050-11.png) no-repeat 10px center;
}
#container .box a:hover{
	background: #458b00;
	color: #fff;
}
#container .tour{
	padding: 0;
	width: 908px;
	height: 230px;
	border: 1px solid #eee;
	margin: 0 0 20px 0;
	position: relative;	
}
#container .tour img{
	float: left;
}
#container .tour figcaption{
	width:528px;
	height: 230px;
	float: right;
}
#container .tour hgroup{
	width:300px;

}
#container .tour h2{
	font-size: 24px;
	font-weight: normal;
	color: #333;
	padding: 10px 0 10px 25px;

}
#container .tour h3{
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: #666;
	padding: 10px 0 10px 25px;

}
#container .tour ol{
	padding: 0 0 0 25px;
	color: #666;
	line-height:2;
}
#container .tour mark{
background: #fff;
border: 1px solid #458b00;
border-radius: 4px;
color: #458b00;
padding: 0 5px;
}
#container .tour .buy{
	position: absolute;
	top: 55px;
    right: 30px;
}
#container .tour .price{
	color: #f60;
	font-size: 20px;
}
#container .tour .price strong{
	font-size: 36px;
}
#container .tour .price s{
	font-size: 16px;
	color: #999;

}
#container .tour .buy a{
	color: #fff;
}
#container .tour .reserve{
	display: block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	background: #f60;
	font-size:24px;
}

#container .tour .type{
	width: 90px;
	height: 25px;
	background: #19DD03;
	color: white;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	font-size: 16px;
	float:left;
	position: absolute;
	top:0px;
	left: 0px;/*参考点定位*/
}
#container .tour .disc{
	position: absolute;
	top: 0;
	right: 0;
	width: 52;
	height: 52;
	background: url(../img/4.7.png) no-repeat;
}
#container .tour span{
	display: block;
	width: 52px;
	height: 52px;
	padding: 5px 0 0 0;
	text-indent: 7px;
	font-size: 14px;
	color: #ff7a4d;
	transform: rotate(45deg);
	
}

#container .tour article footer{
	width:528px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	text-indent: 25px;
	background: #fafafa;
	position: absolute;
	top:200px;
}
#container .tour time{
	color: #458b00;
}
#container .information .more, #container .scenery .more{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	border: 1px solid #ccc;
	background: #fafafa;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	color: #333;
}
#container .ticket{
	color: #666;


}
#container .ticket h2,#container .scenery h2,#container .about h2{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
	font-size: 30px;
	font-weight: normal;
}
#container .ticket .type{
font-size: 20px;

}
#container .ticket .type mark{
	color: #fff;
	background: #458b00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}
#container .ticket .left{
	width:43%;
	display: inline-block;
}
#container .ticket .right{
	width:43%;
	display: inline-block;
}
#container .ticket .button{
	width:9%;
	display: inline-block;
}
#container .ticket .submit{
	display: inline-block;
	width: 90px;
	height:90px;
	line-height:90px;
	text-align:center;
	border-radius: 4px;
	font-size: 20px;
	color: #fff;
	background: #f60;
	border: none;
	position: relative;
	bottom: 30px;
	cursor: pointer;
}
#container .ticket .form p{
	/*line-height: 0;*/
	font-size: 20px;
}
#container .ticket .form input{
	width: 250px;
	height: 30px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: #666;
	padding: 5px;
	margin: 0 0 0 16px;
	font-size: 18px;
}
#container .ticket .new{
	margin: 20px 0 0 0;
}
#container .ticket .new ul{
	margin: 20px 0 0 0;
}
#container .ticket .new li{
	display: inline-block;
	padding: 5px 10px;
}
#container .ticket .new li:first-child{
	padding-left: 0;
}
#container .ticket .new li:nth-child(2){
	background: #458b00;
	color: #fff;
	border-radius: 4px;
}
#container .ticket table{
	margin: 20px 0 0 0;
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;;
}
#container .ticket th{
	height: 50px;
	line-height: 50px; 
	border-bottom: 1px solid #ddd;
}
#container .ticket td{
	border-bottom: 1px solid #ddd;
	text-align: center;
	height: 50px;
	line-height: 50px; 
}
#container .ticket tr:nth-child(2n){
	background: #fafafa;
}
#container .ticket tr:hover{
	background: #eee;
}
#container .ticket .price{
	color: #f60;
}
#container .ticket .more{
	color: #666;
}
 #container .scenery {
 	padding: 15px 0;
 }
#container .scenery figure{
	border: 1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
    margin:15px 5px 15px 0;
    width:430px;
    text-align: left;
}
#container .scenery figcaption{
	text-align: center;
	padding: 5px 0;
}
#container .about p{
	line-height: 2;
	margin: 20px 0;

}
#container .about address{
	line-height: 1.6;
	margin: 20px 0;
	font-style:normal;
}